.footer {
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 25px 0;
}

.footer section {
    position: relative;
    width: 70%;
    left: 15%;
}

.footer p {
    margin: 0;
    padding: 0;
}
