.imgWrapper{
    width: 100%;
    position: relative;
}

.bg{
    width: 100%;
    height:100vh;
    position: relative;
}

.arrowWrapper{
    z-index: 2;
    position: absolute;
    bottom: 0px;
    margin: 0 0 15px 0;
    left: calc( 50% - 32px );
    cursor: pointer;
}

.arrowWrapper:hover{
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
}


@media screen and (max-width: 1523px){
        
}