@import 'https://fonts.googleapis.com/css?family=Anton';

.epsPageWrapper {
    position: relative;
    top: 76px;
    width: 100%;
    min-height: calc(100vh - 76px);
    background-color: #FC0;
}

.epsSectionWrapper {
    position: relative;
}

.epsSectionWrapper h1 {
    padding: 5px 0 5px 10px;
    margin: 0;
    font-family: Anton, sans-serif;
    font-weight: bold;
    font-size: 5vw;
}


@media only screen and (max-width: 600px) {

}
