@import 'https://fonts.googleapis.com/css?family=Anton';

.epsPageWrapper {
    position: relative;
    top: 76px;
    width: 100%;
    min-height: calc(100vh - 76px);
    background-color: #FC0;
}

.epsSectionWrapper {
    position: relative;
}

.epsSectionWrapper h1 {
    padding: 5px 0 0 10px;
    margin: 0;
    font-family: Anton, sans-serif;
    font-weight: bold;
    font-size: 5vw;
}


@media only screen and (max-width: 500px) {
    .epsSectionWrapper h1 {
        font-size: 10vw;    
    }    
}

.sortWrapper {
    color: gray;
    font-size: 2.5vw;
    padding-left: 10px;
    padding-bottom: 5px;
}

.sortWrapper button {
    cursor: pointer;
}

.sortSelected {
    color: black;
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {

}
