@import 'https://fonts.googleapis.com/css?family=Anton';

.ProducerlistWrapper {
    background-color: #FC0;
}

.ProducerlistWrapper > h2 {
    padding: 0;
    margin: 0 0 0 1vw;
    font-size: 5vw;
    font-family: Anton, sans-serif;
    font-weight: bold;
}

.ProducerItemsWrapper {
    width: 100%;
    position: relative;
}
